:root {
    --font-main: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;
    --colo-primary: #2D336B;;
    --colo-dark-1: #696565;
    --colo-dark-2: #7d8184;
    --colo-white-1: #ffffff;
    --colo-cream:#f6f4f0;
  }


  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  body {
    font-family: var(--font-secondary);
    font-size: 1.6rem;
    background-color: #f6f4f0;
    position: relative;
    overflow-x: hidden;


  }

  body::-webkit-scrollbar{display: none;}

  .container {
    width: 87vw;
    margin: auto;
  }


  ::before,
::after {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  /* 1 rem =10px  */
}
a {
  text-decoration: none;
  cursor: pointer;
}
p {
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none;
}

.slide-down-navbar {
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f6f4f0;
  position: fixed;  
  top: 0px;
  z-index: 10000;
  color: rgb(58, 57, 57);
 

  

  animation: slidedown 1s;
  

}


.slide-down-navbar .header-row .logo a sup{
  border: 1px solid white;
}
.slide-down-navbar .header-row .nav-list .nav-link {
  color: rgb(34, 34, 34);
}
.slide-down-navbar .header-row .icons i{
  color: white;

}
.slide-down-navbar .header-row .icons form{
  background-color: white;
}

.slide-down-navbar .header-row .icons .login i{
  color: rgb(34, 34, 34);
}
/* .slide-down-navbar .header-row .nav-list .nav_item_has_children a{
  color: black;
} */


@keyframes slidedown{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0%);
  }
}


  .header-default{
 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--colo-white-1);
  position: relative;
    z-index: 600;
   
  }
  
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }
  .header-row .logo img {

    width: 140px;
    
  
  }

  .header-row .nav {
    display: block;
  }
  
  .header-row .nav > ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }
  .header-row .nav > ul > li .nav-link {
    color: var(--colo-dark-1);
    font-weight: 400;
    transition: 0.4s all;
    position: relative;
  }

  .header-row .nav > ul > li .nav-link:hover{
    color: var(--colo-primary);
  }
  .header-row .nav > ul > li > a:hover::before {
    color: var(--colo-primary);
    width: 50%;
    transform: scale(1, 1);
  }
  .header-row .nav > ul > li > a:hover::after {
    color: var(--colo-primary);
    width: 50%;
    transform: scale(1, 1);
  }
  .header-row .nav > ul > li > a::before {
    position: absolute;
    content: "";
    bottom: -1px;
    right: 50%;
    width: 0%;
    height: 3px;
    background-color: var(--colo-primary);
    transition: 0.5s all;
  
    transform: scale(0, 1);
  }
  .header-row .nav > ul > li > a::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: #2D336B;;
    transition: 0.5s all;
  
    transform: scale(0, 1);
  }
  
  
  .header-row .nav > ul > li.nav_item_has_children {
    position: relative;
  }
  
  .header-row .nav > ul > li.nav_item_has_children .sub-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  
    left: 0;
  
    z-index: 200;
    background-color: white;
    padding: 10px 15px;
    box-shadow: 0px 4px 8px rgba(-2, 0.1, 0.1, 0.1);
    transition: 0.3s all ease;
    margin-top: 0px;
  }
  .header-row .nav > ul > li .single-column-menu {
    min-width: 200px;
    max-width: 460px;
  }
  .header-row .nav > ul > li .multi-column-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-width: 700px;
    max-width: 1000px;
  }
  .header-row .nav > ul > li.nav_item_has_children:hover .sub-menu {
    margin-top: 33px;
    opacity: 1;
    visibility: visible;
    border-radius: 5px;
  }
  .header-row .nav > ul > li .sub-menu a {
    color: var(--colo-dark-1);
    transition: 0.3s all;
  }
  .header-row .nav > ul > li .sub-menu a:hover {
    color: var(--colo-primary);
  }
  .header-row .icons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }
  .header-row .icons .search-bar {
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    transition: 1s all;
    border: 2.5px solid transparent;
    display: flex;
    gap: 6px;
    padding: 5px 10px;
    
 
  }

 
  
  .header-row .icons .search-bar:hover {
    border: 2.5px solid black;
  }
  .header-row .icons .search-bar > input {
    border: none;
    background-color: transparent;
    color: rgb(30, 27, 27);
    outline: none;
    z-index: 1;
    order: 1;

  }
  .header-row .icons .search-bar > input::placeholder {
    color: #363535;
  }
  .header-row .icons .search-bar > i {
    margin-right: 15px;
    color: rgba(45, 44, 44, 0.845);
    font-size: 15px;
  }
  .header-row .icons .search-bar > i:hover {
    color: var(--colo-dark-1);
  }
  .header-row .icons a {
    font-size: 20px;
    transition: 0.3s all;
    color: #000000;
  }
  .header-row .icons a:hover {
    color: var(--colo-primary);
  }

  .header-row .hamburger {
    display: none;
  }
  
  .header-row .profile{
  display:flex;
  color:white;
  
  }

  .slide-down-navbar  .search-slide-down{
    background-color: rgb(247, 246, 246);
    position: absolute;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
display: none;
    top: 100%;
    z-index: -500;
   

    left: 0px;
  
    width: 100vw;
    opacity: 0;
    transition: 0.9s all ease-in-out;

    height: 45px;
  }

  
  .slide-down-navbar  .search-slide-down .input{
    
    border: none;
    background-color: transparent;
  width: 100vw;
  height: 40px;
  outline: none;
  padding: 0px 40px;
  
     top: 0px;
     left: 0px;
   }

   .header-default .search-slide-down{
    background-color: rgb(247, 246, 246);
    position: absolute;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
display: none;
    top: 100%;
    z-index: -500;

    left: 0px;
  
    width: 100vw;
    opacity: 0;
    transition: 0.9s all ease-in-out;

    height: 45px;
  }

  .header-default .search-slide-down .input{
    
   border: none;
   background-color: transparent;
 width: 100vw;
 height: 40px;
 outline: none;
 padding: 0px 40px;
 
    top: 0px;
    left: 0px;
  }
  
  
  .action {
display:flex;
align-items:center;
justify-content:center;
gap:20px;
}

 .action .username{
 text-transform:capitalize;
 position:relative;
 color: #555;
 
 }
 
 .action .logoutForm input{
 border:none;
 background-color:transparent;
 color: #555;
   font-weight: 700;
    font-size: 20px;
    font-align:center;
 }
 
  .action .logoutForm input:hover{

 color: black !important;

 }
 
 .action .username::after{
 position:absolute;
 content:"";
 background-color:black;
 height:100%;
 width:1px;

margin-left:7px;
 
 }

.action .profile {
  position: relative;
  width: 30px;
  
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action .profile img {

 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action .menu {
  position: absolute;
  top: 180px;
  right: 70px;
  padding: 10px 20px;
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action .menu.active {
  top: 80px;
  visibility: visible;
  opacity: 1;
}

.action .menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.5em;
}

.action .menu h3 span {
  font-size: 14px;
  color: #cecece;
  font-weight: 300;
}

.action .menu ul li {
  list-style: none;
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.action .menu ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.action .menu ul li:hover img {
  opacity: 1;
}

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.action .menu ul li:hover a {
  color: #2d336b;
}

  /* media query of navbar starts here */

  @media(max-width:1140px) {
    .header-row .icons .search-bar input {
      display: none;

    }


    .header-row .icons .search-bar {
padding: 5px 0px 5px 15px;
    }

    .header-default .search-slide-down{
      display: flex;
    }

    .slide-down-navbar .search-slide-down{
      display: flex;
    }
    
  }



  @media(max-width:1140px) {
    .header-row .icons .search-bar input {
      display: none;

    }


    .header-row .icons .search-bar {
padding: 5px 0px 5px 15px;
    }
    
  }

  @media(max-width:945px) {
    .header-row .nav{
      display: none;
    }

    .todays-section #type p{
      font-size:22px !important;
      width: 70%;
      font-weight: 550;
    }

    .todays-section #type .btn{
      background-color: var(--colo-primary);
      color: white;
      padding: 8px !important;
      border-radius: 4px;
      font-size: 13px;
    
      transition: 0.3s all ease-in-out;
    }

    .header-row .logo{
      width:150vw ;
    }
    
    .action .username{
    display:none;
    }

    .header-default .search-slide-down{
      display: flex;
    }

    .slide-down-navbar .search-slide-down{
      display: flex;
    }
    

    .header-row .icons .login{
      margin-right: 25px;
    }

    .header-row .hamburger {
      display: flex;
      scale: 1.4;
      margin-left:25px;
    }

    .todays-section #type .controls .scroll-down{
      font-size: 13px !important;
      width: 110px;
    }
    
  }

  /* sidemenu css strats here */

  .side-menu{
background-color:rgb(247, 246, 246) ;
width: 52vw;
height: 100vh;
transition: 0.9s all ease;
opacity: 0;
position: fixed;
top: 0%;
right: -70%;
overflow: scroll;

z-index: 60000;
padding: 20px 10px;
  }
  
    .side-menu::-webkit-scrollbar{display: none;}

  .side-menu .cross{
 
    
  position: relative;
    
    
  }

  .side-menu .cross i{
    color: rgb(26, 26, 26);
    display: flex;
    justify-content: right;
    font-size: 25px;
    position: fixed;
    right: 20px;
    top: 20px;
  }

  .side-menu .nav{
    margin-top: 100px;
  }

  .side-menu .nav .nav-list{
    display: flex;
    flex-direction: column;
    gap: 30px;  

  }


  .side-menu .nav > ul > li.nav_item_has_children {
    position: relative;
  }

  .side-menu .nav > ul > li a{
    color: rgb(59, 58, 58);
    margin-left: 20px;
    font-size: 17px;
    font-weight: 500;

  }



  .side-menu .nav >ul >li a::after{
width: 100%;
height: 1px;
background-color: #9e9d9d;
content: '';
position: absolute;
bottom: -10px;
left: 0px;

  }
  
  .side-menu .nav > ul > li.nav_item_has_children .sub-menu {
    opacity: 0;
    display: none;
    left: 0;
    padding: 10px 15px;
    /* box-shadow: 0px 4px 8px rgba(-2, 0.1, 0.1, 0.1); */
    margin-top: 0px;
    transition: 0.9s all ease;
  }
  .side-menu .nav > ul > li .single-column-menu {
    min-width: 200px;
    max-width: 460px;
  }
  .side-menu .nav > ul > li .multi-column-menu {
    display: block;
    justify-content: space-between;
    
    align-items: center;
    gap: 40px;
    min-width: 70px;
    max-width: 200px;
  }
  .side-menu .nav > ul > li.nav_item_has_children{
    transition: 0.9s all ease;
  }
  .side-menu .nav > ul > li.nav_item_has_children:hover .sub-menu {
  margin-top: 27px;
  opacity: 1;
  display: block;
  transition: 0.9s all ease;
  border-radius: 5px;
  }

  .side-menu .nav > ul > li .sub-menu a {
    color: var(--colo-primary);
    transition: 0.3s all ease;
  }
  .side-menu .nav > ul > li .sub-menu a:hover {
    color: var(--colo-dark-2);
    width: 30px;
  }

  /* banner css starts */

  .banner {
    margin: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    flex-basis: 100%;

   
  }
  /* mega menu css  */
  .banner .mega-menu {
    /* border: 0.2px solid #7d8184; */
    padding: 25px 35px ;
    border-radius: 10px;
    min-width: 200px;
    max-width: 270px;
    width: 100%;
    background-color: var(--colo-white-1);
    z-index: 10;
    /* box-shadow: 0 0 8px 2px rgba(0,0,0,0.2); */
  }
  .banner .mega-menu li a {
    color: #000000;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  
  }
  .banner .mega-menu li a::after{
    position:absolute;
    content: '';
   background-color: #7d8184;
    left: -15px;
    height: 45%;
    width: 3px;
    bottom: 10px;
    
    border: 1px solid #7d8184;
    border-radius: 0px 20px 0px 20px;
    transition: 1s all ease;
  }
  .banner .mega-menu li a:hover {
    color: var(--colo-primary);
    transform: scaleX(1.1);
    font-size: 17px;
    font-weight: 500;
  
  
    
  }
  .banner .mega-menu li a:hover::after{
    content: '';
    position: absolute;
    
    /* Adjust the position as needed */
    transform: rotate(360deg);
    background-color: transparent;
    border-style: solid;
    top: 6px;
    height: 30%;
    width: 3px;
    border-width: 7px 0 7px 7px; /* Adjust these values to change arrow size */
    border-color: transparent transparent transparent #2D336B;; /* Change color as needed */
    border-radius: 0 2px 2px 0;
  }
  .banner .mega-menu {
    position: relative;
  }
  .banner .mega-menu >li.mega-item-has-children .mega-single-column{
    min-width: 330px;
    max-width: 400px;
    width: 100%;
    /* box-shadow: 0 0 8px 2px rgba(0,0,0,0.2); */
  }
  .banner .mega-menu >li.mega-item-has-children .mega-sub-menu{
    
    
    background-color: var(--colo-white-1);
    border-radius: 10px;
    padding: 25px 35px ;
    position: absolute;
    
    left: 260px;
    top:0;
    visibility: hidden;
    opacity: 0;
    margin-left: 20px;
    transition: 0.3s all ease-in-out ;
  }
  .banner .mega-menu >li.mega-item-has-children .mega-sub-menu li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner .mega-menu >li.mega-item-has-children:hover .mega-sub-menu{
    visibility: visible;
    opacity: 1;
    margin-left: 0px;
  }
  .banner .mega-menu >li.mega-item-has-children .mega-sub-menu >li.mega-item-has-children-2 .mega-sub-menu-2 {
    background-color: var(--colo-white-1);
    border-radius: 10px;
    padding: 16px 20px;
    
    position: absolute;
    left: 295px;
    top:0;
    visibility: hidden;
    opacity: 0; 
    margin-left: 20px; 
     transition: 0.5s all ease-in-out ;
  }
  .banner .mega-menu >li.mega-item-has-children .mega-sub-menu >li.mega-item-has-children-2:hover .mega-sub-menu-2{
      visibility: visible;
    opacity: 1; 
  }
  .banner .mega-menu >li.mega-item-has-children .mega-sub-menu >li.mega-item-has-children-2 .mega-multi-column{
    min-width: 43vw;
    max-width: 55vw;
    height: 333px;
    width: 100%;
   display: flex;
   justify-content: space-between;
   /* box-shadow: 0 0 8px 2px rgba(0,0,0,0.2); */
   gap: 20px;
  
  }
  .banner .mega-menu >li.mega-item-has-children .mega-sub-menu >li.mega-item-has-children-2 .mega-sub-menu-2 .product-image img {
   height: 300px;
    width: 100%;
    
  
  }
  .banner .mega-menu >li.mega-item-has-children .mega-sub-menu >li.mega-item-has-children-2 .mega-sub-menu-2 .product-desc{
    max-width: 700px;
    width: 100%;
    line-height: 30px;
  }
  /* mega menu css close  */
  
  /* carasoul css  */
  
  .slide-container{
    position: relative;
   width:100%;
    height: 330px;
  border-radius: 10px;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);

  }
  .slide-container .slides{
    width: 100%;
    border-radius: 10px;
    height: calc(100% );
    position: relative;
    overflow: hidden;
  }
  .slide-container .slides img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }
  .slide-container .slides img:not(.active){
    top: 0;
    left: -100%;
  }
  span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px;
    color: #eee;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
  }
  span.next{
    right: 20px;
  }
  span.prev{
    left: 20px;
  }
  span.next:hover, span.prev:hover{
    background-color: #ede6d6;
    opacity: 0.8;
    color: #222;
  } 
  .dotsContainer{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
  }
  .dotsContainer .dot{
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
  }
  .dotsContainer .active{
    background-color: #555;
  }

  @keyframes next1{
    from{
      left: 0%
    }
    to{
      left: -100%;
    }
  }
  @keyframes next2{
    from{
      left: 100%
    }
    to{
      left: 0%;
    }
  }

  @keyframes prev1{
    from{
      left: 0%
    }
    to{
      left: 100%;
    }
  }
  @keyframes prev2{
    from{
      left: -100%
    }
    to{
      left: 0%;
    }
  }
  
  

  @media(max-width:1000px) {
   .banner .mega-menu{
    display: none;
   }
    
  }

  /* product section css  */

  .todays-section {
    margin: 40px 0px;
  }
  .todays-section #type{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
     
  }
  .todays-section #type .btn{
    background-color: var(--colo-primary);
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s all ease-in-out;
  }
  .todays-section #type .btn:hover{
    background-color: black;
    color: white;
  }
  
  .todays-section .title{
    font-size: 25px;
    color: var(--colo-primary);
    position: relative;
    margin: 70px 0px 20px 35px;
   
    
    
  }
  .todays-section .title::after{
    position: absolute;
    content: '';
    background-color: var(--colo-primary);
    height: 100%;
    width: 15px;
    border-radius: 3px;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    
  }
  .products-row{
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    flex-grow:inherit;
    flex-wrap: wrap;
    /* align-items: center; */
margin-top: 50px;
    height: 100%;
    /* align-content: center; */
    width: 100%;
    align-self: center;
    gap: 50px;

  }

  .products-slider {
   
	
			/* background: red; */
			
    margin-bottom: 50px;
			display: flex;
			align-items: center;
      width:100%;
      gap: 30px;
			overflow-x: auto;
      overflow-y: hidden;

  }

 

  .products-slider::-webkit-scrollbar{
    display: none;
  }
  .products-slider .product-box{
    background-color: white;
    padding: 3px 20px;
    position: relative;
    border-radius: 10px;
  max-width: 50px;
  min-width: 290px;
    
    transition: 0.3s all ease-in-out;
    cursor: pointer;
  }

  .products-slider .product-box  picture{
    width: 100%;
    
    
    padding: 20px;
 
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .products-slider .product-box picture img{
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 10px 10px 10px 10px;
  }
  .products-slider .product-box .product-title{
    
font-size: 20px;
color: var(--colo-primary);
 

   
  
  }

  .products-slider .product-box .price {
    margin: 15px 0px;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .products-slider .product-box .price .actual-price {
    font-weight: 350;
    color: #2D336B;
    font-size: 20px;
  }
  .products-slider .product-box .price .discount-price{
    font-weight: 350;
    font-size: 15px;
    text-decoration: line-through;
    margin-left: 5px; 
    color: black;
  }

  @media (max-width: 768px) {

    .todays-section #type p{
      font-size: 22px !important;
      font-weight: 550;
      
    }



    .products-slider .product-box  picture{
      width: 100%;
      
      
      padding: 20px;
   
      display: flex;
      overflow: hidden;
      margin-bottom: 20px;
    }
  
    .products-slider .product-box picture img{
      width: 100%;
      object-fit: cover;
      height: 230px;
      border-radius: 10px 10px 10px 10px;
    }
    .products-slider .product-box {
      min-width: 85%;
      
     
    }
    .products-slider .product-box .product-title{
  font-size: 25px!important;
  
  text-overflow: ellipsis;
  color: #2D336B !important;
  
    }

    .products-slider .product-box .price {
      margin: 15px 0px;
      font-size: 18px;
      font-weight: 500;
      display: flex;
      align-items: center;
    }
    .products-slider .product-box .price .actual-price {
      font-weight: 350;
      color: #2D336B;
      font-size: 20px;
    }
    .products-slider .product-box .price .discount-price{
      font-weight: 350;
      font-size: 15px;
      text-decoration: line-through;
      margin-left: 5px; 
      color: black;
    }
    .products-slider .left{
      left: 1.5% !important;
      
          position: absolute;
            z-index: 2000;
            color: var(--colo-primary);
            font-size: 25px !important;
          }

          .products-slider .left:hover{
background-color: white;
border-radius: 3px;
padding: 3px;
          }

          .products-slider .right:hover{
            background-color: white;
            border-radius: 3px;
            padding: 3px;
                      }
      
        .products-slider .right{
      right: 1.5% !important;
        position: absolute;
        color: var(--colo-primary);
        border-radius: 3px;
padding: 3px;
          z-index: 2000;
          font-size: 25px !important;
        }

    


    
  
  }
  
  
  .products-slider .product-box .rating{
    display: flex;
    gap: 5px;
    color: rgb(255, 170, 0);
  margin-top: 20px;
    
  }
  .products-slider .product-box .icons {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: absolute;
    color: var(--colo-primary);
    font-size: 20px;
    font-weight: 500;
    top: 3% ;
    right: 0%;
    transition: 0.3s all ease-in-out;
  }
  .products-slider .product-box .icons i{
    border-radius: 100%;
    padding: 5px 6px ;
    transition: 0.3s all ease-in-out;
    justify-content: center;
    display: flex;
  align-items: center;
  }
  .products-slider .product-box .off{
    background-color: var(--colo-primary);
    color: white;
    padding: 3px;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .products-slider .product-box .buy-btn{
  display: block;
  align-items: center;
  background-color: var(--colo-primary);
  color: white;
  position: absolute;
  width: 100%;
  opacity: 0;
 
  left: 0px;
  padding: 10px 0px;
  bottom: -65px;
  transition: 0.7s all ease-in-out;
  cursor: pointer;
  }
  .products-slider .product-box:hover .buy-btn{
    bottom: -1px;
    z-index: 200;
    display: block;

    transform:rotate3d(360deg);
    transition: 0.7s all ease-in-out;
    opacity: 1;
  
  }
  

  
  .products-slider .product-box:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
    
  }
  .products-slider .icons i:hover {
  background-color: var(--colo-primary);
  border-radius: 100%;
  padding: 5px 6px ;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .todays-section #type p{
    font-size: 30px;
    font-weight: 550;
    
  }

  .todays-section #type .controls{
    display: flex;
    justify-content: center;
    position: relative;
  }
  .todays-section #type .controls .btn{
    font-size: 15px;
  }

  .todays-section #type .controls p {
    font-size: 20px;
   
    cursor: pointer;
    padding: -50px 20px;
    color: var(--colo-primary);

 display: flex;
 gap: 10px;
 justify-content: center;
  
    

    text-align: center;
    border-radius: 3px;
  }

  .products-slider .left{
      left: 2.5%;
      position: absolute;
      z-index: 2000;
      font-size: 35px;
      padding: 3px;
      color: var(--colo-primary);
      border-radius: 3px;
    }

  .products-slider .right{
right: 2.5%;
  position: absolute;
    z-index: 2000;
    color: var(--colo-primary);
    font-size: 35px;
    border-radius: 3px;
    padding: 3px;
  }


  .products-slider .left:hover{
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    padding: 3px;
              }
    
              .products-slider .right:hover{
                background-color: white;
                border-radius: 3px;
                transition: 0.5s all ease-in-out;
                cursor: pointer;
                padding: 3px;
                          }

  .products-slider span:hover{
  
      color: var(--colo-dark-2);
  }
    
  
  
  .todays-section .frame-images{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: -40px;
  
  }
  
  .todays-section .frame-images img{
  width: 100%;
  
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
   
  }
  
  
  .todays-section .frame-images .frame1{
    width: 600px;
   position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  }
  .todays-section .frame-images .frame2{
  
    gap: 0px;
    justify-content: start;
    align-items: center;
    width: 450px;
    height: 685px;
  }
  .todays-section .frame-images .frame2 .frame2-row1 img{
    height: 350px;
    object-fit: cover;
  
    margin-top: 30px;
  }
  
  .todays-section .frame-images .frame2 .frame2-row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    
  
  
  }
  .todays-section .frame-images .frame2 .frame2-row2 img{
    height: 227px;
    object-fit: cover;
    width: 217px;
  }
  
  
  

.slide-popup{
  padding: 20px 30px ;
  width: 270px;


  text-align: center;
  transition: 0.9s all ease-in-out;
  position: fixed;
  bottom: 0px;
  z-index: 400;
  visibility: hidden;
 
}

.slide-popup .cross-popup{
  position: absolute;
  top: 30px;
  right: 35px;
  font-size: 15px;

  color: white;
  border-radius: 100%;
  padding: 3px 7px;
}
.slide-popup img{
 width: 100%;
}
/* slide pop up css ends */
/* to top btn css  */
.to-top-btn{
  background-color: var(--colo-primary);
  color: var(--colo-white-1);
  border-radius: 100%;
  padding: 4px 12px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  font-size: 20px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out ;
  z-index: 400;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.to-top-btn:hover{
  background-color: rgb(46, 38, 38);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}


/* footer css starts  */


.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #eae6dd;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #333332;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--colo-primary);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #333332;
	text-decoration: none;
	font-weight: 300;
	
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: var(--colo-primary);
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #333332;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: var(--colo-white-1);
	background-color:var(--colo-primary);
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
  